<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="css/style_account.css">
    <link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
    <script src="js/init.js"></script>
</head>
<body>

<header>
    <div class="left">
        <i class="fa fa-home home" aria-hidden="true"></i>
        <img src="images/joinus.png" width="80px" height="40px" class="logo">
        <i class="fa fa-users" aria-hidden="true"></i>

        <i class="fa fa-envelope-o" aria-hidden="true"></i>
    </div>
    <form method="post" action="logout.php">
    <button type="submit" class="logout" name="logout">Log out
        <i class="fa fa-sign-out" aria-hidden="true"></i>
    </button>
        <form>
</header>